[submodule "gulp-test"]
	path = gulp-test
	url = https://github.com/tatsuyahirose/gulp-test.git
[submodule "canvas-test"]
	path = canvas-test
	url = https://github.com/tatsuyahirose/canvas-test.git
[submodule "youtubeAPI"]
	path = youtubeAPI
	url = https://github.com/tatsuyahirose/youtubeAPI.git
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/tatsuyahirose/wordpress.git
[submodule "backbone"]
	path = backbone
	url = https://github.com/tatsuyahirose/backbone.git
